<!DOCTYPE html>
html(lang="en")
    head
        title sketchblocks
        meta(charset="utf-8")
        style
            include /editor-style.css
        script
            include /library/three.js
        script
            include /js/blocks.js
        script
            include /js/physics.js
        script
            include /js/rendering.js
        script
            include /js/orbit.js
        script
            include /js/start.js
    body(onload="start()")
        #visible
        #debug
        #dialogue